.icon-row{
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}

.icon-row-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 10px;
    box-sizing: border-box;
    
}

.icon-row i{
    font-size: 25px;
    
    margin-bottom: 10px;
}

.icon-row span{
    font-weight: 500;
    font-size: 12px;
}